<ion-content [fullscreen]="true" class="baby-theme">

  <div class="container">
    <div class="header-section">
      <div class="app-title">🌱 Tiny Root</div>
      <div class="total-balance">
        <span class="currency">$</span>
        {{ totalExpense | number }}
      </div>
      <div class="subtitle">本月家庭支出</div>
    </div>

    <div class="input-box">
      <div class="row-inputs">
        <div class="date-picker-wrapper">
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" presentation="date" [(ngModel)]="newDate"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <div class="amount-input-wrapper">
          <span class="symbol">$</span>
          <ion-input type="number" placeholder="0" [(ngModel)]="newAmount" class="big-input"></ion-input>
        </div>
      </div>

      <div class="desc-input-wrapper">
        <ion-input type="text" placeholder="📝 買了什麼呢？(例如: 尿布)" [(ngModel)]="newDesc"></ion-input>
      </div>

      <div class="category-selector">
        <div class="cat-option"
             [class.active]="newCategory === 'Needs'"
             (click)="newCategory = 'Needs'">
          <div class="emoji">🔴</div>
          <span>必要</span>
        </div>
        <div class="cat-option"
             [class.active]="newCategory === 'Wants'"
             (click)="newCategory = 'Wants'">
          <div class="emoji">🟡</div>
          <span>想要</span>
        </div>
        <div class="cat-option"
             [class.active]="newCategory === 'Savings'"
             (click)="newCategory = 'Savings'">
          <div class="emoji">🟢</div>
          <span>存錢</span>
        </div>
      </div>

      <div class="spender-selector">
        <div class="pill" [class.active]="newSpender === 'Dad'" (click)="newSpender = 'Dad'">
          👨🏻 爸爸
        </div>
        <div class="pill" [class.active]="newSpender === 'Mom'" (click)="newSpender = 'Mom'">
          👩🏻 媽媽
        </div>
      </div>

      <button class="primary-btn" (click)="add()">
        記下一筆
      </button>
    </div>

    <div class="list-section">
      <div class="list-header">最近紀錄</div>

      <div *ngFor="let trans of transactions" class="cute-card">
        <div class="card-icon">
          {{ trans.category === 'Needs' ? '🍼' : (trans.category === 'Wants' ? '🧸' : '🌱') }}
        </div>
        <div class="card-info">
          <div class="card-desc">{{ trans.description }}</div>
          <div class="card-meta">{{ trans.date | date:'M/d' }} · {{ trans.spender === 'Dad' ? '👨🏻' : '👩🏻' }}</div>
        </div>
        <div class="card-amount">
          {{ trans.amount | number }}
        </div>
      </div>
    </div>

  </div>
</ion-content>
